.toolbar {
  display: inline-block;
  top: 0;

  width: 29vw;
  height: 100%;

  border: none;
  margin: 0;
  padding: 0;

  background-color: red;
}

.container {
  display: inline-block;
  top: 0;

  width: 70vw;

  border: none;
  margin: 0;
  padding: 0;

  background-color: green;
}

.toolbar a {
    display: block;

    background-color: blue;

    text-align: center;
    text-decoration: none;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;

    border-radius: 1vw;
}

.toolbar a.active {
    background-color: darkblue;
}